* {
  list-style: none;
  text-decoration: none;
}

.main {
  width: 100%;
  height: 100%;
}

.header {
  padding: 20px 30px;
  color: rgb(0, 94, 255);
}
.left {
  font-size: 26px;
}

.right {
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
}

.photo {
  width: 50%;
  margin: 0 0 0 auto;
}