* {
  list-style: none;
  text-decoration: none;
  color: inherit;
}

.all {
  max-width: 100%;
  position: relative;
  }

.header {
  padding: 20px 30px;
  color: rgb(0, 94, 255);
  display: flex;
  justify-content: space-between;
}

.header-left {
  font-size: 26px;
  line-height: 66px;
}

.header-right ul {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
}

.list-1, .list-2, .list-3, .list-4 {
  margin-right: 25px;
}

.photo-item {
  position: absolute;
  z-index: 10;
  width: 50%;
  top: 130px;
  left: 765px;
  display: block;
}

.main-logo {
  position: absolute;
  top: 500px;
  font-size: 70px;
}

.text {
  font-weight: lighter;
}

.footer {
  position: absolute;
  top: 570px;
  z-index: 0;
  width: 1100px;
  height: 200px;
  background: rgb(26, 26, 174);
  
  }